<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    	<title> Painel de Controle | Setup </title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/painel.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}">
	</head>

	<body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
        	<div class="container">
            	<div class="navbar-header">
                	<a class="navbar-brand"> <span class="glyphicon glyphicon-console glyphicon-align-center"></span> Control Panel </a>
            	</div>
        	</div>
    	</nav>
    	<div class="container">
        	<div id="jumb1" class="jumbotron">
            	<div class="row">
                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                   
                    	{% if pins[7].status == true %}
                        	<div>
                                <a href="/7/off" class="btn btn-block btn-lg btn-danger" role="button"><i class="fas fa-toggle-on"></i> Turn off GPIO 7</a>
                        	</div>
                    	{% else %}
                        	<div>
                            	<a href="/7/on" class="btn btn-block btn-lg btn-success" role="button"><i class="fas fa-toggle-off"></i> Turn on GPIO 7 </a>
                        	</div>
                    	{% endif %}
	               
                    	{% if pins[11].status == true %}
                        	<div>
                            	<a href="/11/off" class="btn btn-block btn-lg btn-danger" role="button"><i class="fas fa-toggle-on"></i> Turn off GPIO 11 </a>
                        	</div>
                    	{% else %}
                        	<div>
                           		<a href="/11/on" class="btn btn-block btn-lg btn-success" role="button"><i class="fas fa-toggle-off"></i> Turn on GPIO 11 </a>
                        	</div>
                    	{% endif %}

	                	{% if pins[13].status == true %}
    	                    <div>
        	            		<a href="/13/off" class="btn btn-block btn-lg btn-danger" role="button"><i class="fas fa-toggle-on"></i> Turn off GPIO 13 </a>
            	            </div>
                		{% else %}
                    	    <div>
                        		<a href="/13/on" class="btn btn-block btn-lg btn-success" role="button"><i class="fas fa-toggle-off"></i> Turn on GPIO 13 </a>
  	                    	</div>
    	                {% endif %}

                        {% if pins[15].status == true %}
                            <div>
                                <a href="/15/off" class="btn btn-block btn-lg btn-danger" role="button"><i class="fas fa-toggle-on"></i> Turn off GPIO 15 </a>
                            </div>
                        {% else %}
                            <div>
                                <a href="/15/on" class="btn btn-block btn-lg btn-success" role="button"><i class="fas fa-toggle-off"></i> Turn on GPIO 15 </a>
                            </div>
						{% endif %}
                        {% if pins[22].status == true %}
                            <div>
                                <a href="/22/off" class="btn btn-block btn-lg btn-danger" role="button"><i class="fas fa-toggle-on"></i> Turn off GPIO 22</a>
                            </div>
                        {% else %}
                            <div>
                                <a href="/22/on" class="btn btn-block btn-lg btn-success" role="button"><i class="fas fa-toggle-off"></i> Turn on GPIO 22 </a>
                            </div>
                        {% endif %}
                	</div>
                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    	<div id="jumb2" class="jumbotron">
                        	<h2> Status </h2>
                        	<p> Temperature:
                            	<strong> {{ temp }} </strong> 
                        	</p>
							{% if pins[7].status == true %}
								<p> GPIO 7 is now: <strong> ON </strong> </p>
							{% else %}
								<p> GPIO 7 is now: <strong> OFF </strong> </p>
							{% endif %}
                            {% if pins[11].status == true %}
                                <p> GPIO 11 is now: <strong> ON </strong> </p>
                            {% else %}
                                <p> GPIO 11 is now: <strong> OFF </strong> </p>
                            {% endif %}
                            {% if pins[13].status == true %}
                                <p> GPIO 13 is now: <strong> ON </strong> </p>
                            {% else %}
                                <p> GPIO 13 is now: <strong> OFF </strong> </p>
                            {% endif %}
                            {% if pins[15].status == true %}
                                <p> GPIO 15 is now: <strong> ON </strong> </p>
                            {% else %}
                                <p> GPIO 15 is now: <strong> OFF </strong> </p>
                            {% endif %}
                            {% if pins[22].status == true %}
                                <p> GPIO 22 is now: <strong> ON </strong> </p>
                            {% else %}
                                <p> GPIO 22 is now: <strong> OFF </strong> </p>
                            {% endif %}

                    	</div>
                	</div>
            	</div>
        	</div>
    	</div>
    	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
